<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culture</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap1.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">

</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                TOUR IN
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" th:href="@{/contactus}">Contact Us</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="image/Minsitry-of-Culture-Banner-1024x341.jpg">
        <form class="d-flex tm-search-form">
            
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">Culture of Rajasthan</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img th:src="@{image/05ccd8cd8df240102a72696aa4dd97ba.jpg}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 col-12">
                <h2 class="tm-text-primary mb-5">Location</h2>
                <!-- Map -->
                <div class="mapouter mb-4" style="height: 600;">
                    <div class="gmap-canvas" style="height: 600;">
                        <iframe  id="gmap-canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7308812.555725523!2d69.37949550961734!3d26.560101220787622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396a3efaf7e30e37%3A0xb52b9b4506c088e5!2sRajasthan!5e0!3m2!1sen!2sin!4v1640769137977!5m2!1sen!2sin"
                        width="800" height="600" style="border:0;" ></iframe>
                         
                    </div>
                </div>               
            </div>
        </div>
        <div>
            <p>Rajasthan has many beautiful artistic and cultural traditions which reflect the ancient Indian way of life. Rajasthan is also called "Land of Kings".<br> It has many tourist attractions and good facilities for tourists. This historical state of India attracts tourists and vacationers with its rich culture, tradition, heritage, and monuments. <br>It has also some wildlife sanctuaries and national parks.

                More than 70% of Rajasthan is vegetarian, which makes it the most vegetarian state in India.</p>
        </div>
        <div>
            <h5>Music and dance</h5>
            <p>The Ghoomar dance from Jodhpur and Kalbeliya dance of Jaisalmer have gained international recognition. Folk music is a vital part of Rajasthani culture. Bhopa, Chang, Teratali, Ghindar, Kachchigghori, Tejaji, parth dance etc. are the examples of the traditional Rajasthani culture. Folk songs are commonly ballads which relate heroic deeds and love stories; and religious or devotional songs known as bhajans and banis (often accompanied by musical instruments like dholak, sitar, sarangi etc.) are also sung.

                Kanhaiya Geet also sang in major areas of east rajasthani belt in the collectiong manner as a best source of entertainment in the rural areas.</p>
        </div>
        <div>
            <h5>Art</h5>
            <p>Kathputli<br>
                Kathputli art tradition is more than thousands years old, beliefs of Some scholars. One finds its backings in Rajasthani folk tales, ballads and sometimes even in folk songs. <br>Similar puppets which are rod-puppets, are also found in west Bengal. But it is truly rajasthan’s amazing kathputli which made India one of the first countries to invent its traditional puppetry. <br>Rajasthani culture diversity and tradition eternal parties became an great art for other. Tribes of Rajasthan have been performing this art from the ancient times. 
                <br>No village fair, no religious festival and no social gathering in Rajasthan can be complete without the Kathputlis. It is believed that somewhere 1500 years ago, tribal Rajasthani Bhat community started the use of Kathputli as string marionette art and it is in their love for tradition that art of Kathputli survived the test of time.<br> Tradition of Kathputli is based on folk tales and stories. Scholars believe that folk tales convey the lifestyle of ancient Rajasthani tribal people and Kathputli art might have originated from present day Nagaur and surrounding areas. 
                <br>Rajasthani Kings and nobles were kin of Art and Craft and they encouraged the craftsmen in these activities. Over the last 500 years, Kathputli was a system of patronage supported by kings and well-off families. <br>The kathputli lovers would look after the artists in return for the artists singing praises of the patrons’ ancestors. Bhat community claim that their ancestors had performed for royal families, and received great honour and prestige from the rulers of Rajasthan.<br>
                <img th:src="@{image/Wayang_santri.jpg}" width="98%">
                <p> </p>
                <br>India has a rich and ancient tradition of string puppets or marionettes. Marionettes with jointed limbs controlled by strings allow far greater flexibility and are therefore the most articulate of the puppets. Rajasthan, Orissa, Karnataka and Tamil Nadu are some of the regions where this form of puppetry has flourished.<br>
                 The traditional marionettes of Rajasthan are known as Kathputli. Carved from a single piece of wood, these puppets are like large dolls that are colourfully dressed.<br>
                  The string puppets of Orissa are known as Kundhei. The string puppets of Karnataka are called Gombeyatta. Puppets from Tamil Nadu, known as Bommalattam, combine the techniques of rod and string puppets.<br>
                  <p></p>
           <h5>Images related to tredition and culture of Rajasthan</h5>
            </p>
            <img th:src="@{image/shuttersto-ac770cbb797ddbd.jpg}" width="100%">
            <img th:src="@{image/1*u9T9dZ9fnpMj-nEDfuYaew.jpeg}" width="50%" >m
            <img th:src="@{image/-1526991684.jpg}">

        </div>
        <p>

        </p>
        <p>

        </p>
        <div>
            <h5>Arts and crafts</h5>
            <p>
                Rajasthan is famous for textiles, semi-precious stones and handicrafts, and for its traditional and colorful art. Rajasthani furniture has intricate carvings and bright colours. Block prints, tie and dye prints, Bagaru prints, Sanganer prints and Zari embroidery are major export products from Rajasthan. <br>The blue pottery of Jaipur is particularly noted.

The Anokhi Museum of Hand Printing celebrates traditional woodblock printing on cloth.
            </p>
        </div>
        <div>
            <p>Rajasthan is famous for its many historical forts, temples and palaces (havelis), which predominantly drives tourism in the state.</p><br>
            <h5>Temple Architecture</h5>
            <p>
                While there are many Gupta and post Gupta era temples in Rajasthan but later the architecture was developed after 7th century into a new form. This new style of temple architecture is called Gurjara-Pratihara Style. <br>Some famous temples 
                
                of this style are Temples at Osian, Kumbhshyama temple of Chittor, temples at Baroli, Somesvara temple at Kiradu, Harshnath temple in Sikar and Sahasra Bahu temple of Nagda.<br>

                After 10th century till 13th century a new style of temple architecture was developed. It is called Solanki style or Maru-Gurjara style. Samadhishwar temple at Chittor, ruined temple at Chandravati etc. are the example of this style.<br>
                
                This period was also golden period for Jain temples in Rajasthan. Some famous temples of this period are Dilwara Temples, Mirpur temple of Sirohi.<br>There are also many Jain temples of this period in Pali district at Sewari, Nadol, Ghanerao etc.
                
                During 14th century and after that many new temples were built, some of them are Mahakaleshwar Temple Udaipur, Jagdish Temple at Udaipur, Eklingji Temple, Jagat Shiromani Temple of Amer, Ranakpur Jain temple.<br>
            </p>
            
        </div>
        <div>
            <h5>Places in Rajasthan</h5>
            <p>
                ○ Alwar City Palace, Alwar<br>
                ○ Amber Palace, Amer, Jaipur<br>
                ○ Badal Mahal, Dungarpur<br>
                ○ Dholpur Palace, Dholpur<br>
                ○ Fateh Prakash Palace, Chittorgarh<br>
                ○ Gajner Palace and Lake, Bikaner<br>
                ○ Jag Mandir, Udaipur<br>
                ○ Jagmandir Palace, Kota<br>
                ○ City Palace, Jaipur<br>
                ○ Jal Mahal, Jaipur<br>
                ○ Juna Mahal, Dungarpur<br>
                ○ Lake Palace, Udaipur<br>
                ○ Lalgarh Palace and Museum, Bikaner<br>
                ○ Laxmi Niwas Palace, Bikaner<br>
                ○ Man Mahal, Pushkar<br>
                ○ Mandir Palace, Jaisalmer<br>
                ○ Monsoon Palace, Udaipur<br>
                ○ Moti Doongri, Alwar<br>
                ○ Moti Doongri, Jaipur<br>
            </p>
        </div>
        <div>
            <h5>Festivals</h5>
            <p>
                The main religious festivals are Deepawali, Holi, Gangaur, Teej, Gogaji, Makar Sankranti Janmashtami as the main religion is Hinduism. <br>
                Rajasthan's desert festival is celebrated with great zest and zeal. This festival is held once a year during winters. People of the desert dance and sing ballads of valour, romance and tragedy. <br>
                There are fairs with snake charmers, puppeteers, acrobats and folk performers. Camels play a prominent role in this festival.<br>
            </p>
            <h5>Religious syncretism</h5>
            <p>
                Rajasthan has more popular Hindu saints, many from the Bhakti era.<br>

Rajasthani saints hail from all castes; Maharshi Naval Ram and Umaid Ram Maharaj were Bhangis, Karta Ram Maharaj was a Shudra, Sundardasa was a Vaish, and Meerabai and Ramdeoji were Rajputs. The backward caste Nayaks serve as the narrators or the devotional music (or "bhajan") for the Baba Ramdevji sect.<br>

The most popular Hindu deities are Surya, Krishna and Rama.<br>

Modern-day popular saints from Rajasthan have been Paramyogeshwar Sri Devpuriji of Kriya Yoga and Swami Satyananda the master of Kriya Yoga, Kundalini Yoga, Mantra Yoga and Laya yoga. Rajasthan had a massive movement to unite the Hindus and Muslims to worship God together. Saint Baba Ramdevji was adored by Muslims, equally that he was to Hindus.<br>

Mostly Rajasthani people speak the Marwari language.<br>

Saint Dadu Dayal was a popular figure who came from Gujarat to Rajasthan to preach the unity of Ram and Allah. Sant Rajjab was a saint born in Rajasthan who became a disciple of Dadu Dayal and spread the philosophy of unity amongst Hindu and Muslim worshipers of God.<br>

Saint Kabir was another popular figure noted for bringing the Hindu and Muslim communities together, and stressing that God may have many forms (e.g. in the form of Rama or Allah.)<br>
            </p>
        </div>

         <!-- container-fluid, tm-container-content -->

         <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
            <div class="container-fluid tm-container-small">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">About TOUR IN</h3>
                        <p>Tour in is free Alpha 2 HTML Template for video and photo websites. You can freely use this website  layout for a pictures  with variety range of information.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                        <ul class="tm-footer-links pl-0">
                            <li><a href="#">Advertise</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Our Company</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                        <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                        <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                        Copyright 2021 TOUR IN Company. All rights reserved.
                    </div>
                    <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                        Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">Tour IN</a>
                    </div>
                </div>
            </div>
        </footer>
    
    <script th:src="@{js/plugins.js}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>